<h1> Welcome to Adhyayan Managment App</h1>
<div class="main">
    <div class="card me-4" style="width: 18rem;">
        <img src="assets/m.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">First of all, I would like to congratulate you on taking the first step towards achieving your dream. We all have different dreams and this is what makes us unique.The students should enjoy the coding.
            </p>
        </div>
      </div>
      <div class="card me-4" style="width: 18rem;">
        <img src="assets/n.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"> Let me explain the vision behind Adhyayan IT Training and Placement. I started Adhyayan IT Training and Placement to fulfill my dream of imparting quality training to my professionals.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/p.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">During the course of my professional career, I realized the significant gap between the academic content taught in schools and colleges, and its practical usage in actual industrial scenarios.</p>
        </div>
      </div>
</div>

  
